body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

section {
    width: 100%;
    height: 100px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero  {
    /* background-color: #0000ff; */
    background-image: linear-gradient(yellow, red);
    width: 100%;
    height: 500px;

}

.avatar {
    width: 100px;
    border-radius: 50%;
}

.text {
    width: 30px;
    height: 30px;
    background-color: #ff0000;
    margin: 5px;
}

#main {
    box-shadow: 2px 2px 5px white;
}

.hero {
    width: 100%;
    background-color: #ff0000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.hero-info {
    background-color: #ff0000;
    margin: 30px;
}

button {
    border: 0;
    padding: © 20px;
    font-size: 20px;
    line-height: 2.5;
    color:
    rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
    );
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

button:hover {
    background-color: rgba(255, 0, 0, 1);
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

footer {
    font-family: Arial, Helvetica, sans-serif 
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #ff0000;
}

a:active {
    color: blue;
}

.logo {
    height: 50px;
    margin: 1px 1px;

}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    list-style: none;

}

li {
    margin: 15px 5px;
    text-transform: uppercase;
    font-size: 12px;
}

#name {
      
}